:root {
    --c-accent-primary: #001AFF;
    --c-content-primary: #403F3F;
    --c-content-secondary: #6A6A6A;
}

* {
    font-family: Inter, Golos Text, Roboto, sans-serif;
    font-weight: 400;
    color: var(--c-content-primary);
    padding: 0;
    margin: 0;
}

main {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.container {
    max-width: 800px;
}

h1 {
    font-weight: 600;
    color: var(--c-accent-primary);
    
    margin: 64px 0 40px 0;
}

.form-block {
    display: flex;
    gap: 16px;
    align-items: flex-end;
}

.input-block {
    max-width: 256px;
    margin-bottom: 32px;
}

.input-block input {
    display: block;
    box-sizing: border-box;
    padding: 16px 32px;

    width: 100%;
    
    border: 1px solid var(--c-accent-primary);
    border-radius: 8px;

    font-weight: 500;
}

.input-block .text__label--medium {
    font-size: 14px;
    margin-bottom: 8px;
}

.input-block .text__label--small {
    font-size: 12px;
    margin-bottom: 12px;
}

.button {
    box-sizing: border-box;
    padding: 16px 32px;
    margin-top: 8px;

    background-color: var(--c-accent-primary);
    color: white;
    
    border: none;
    border-radius: 8px;
    
    font-weight: 500;
    font-size: 14px;

    cursor: pointer;
}

.answers {
    display: flex;
    gap: 64px;

    margin-top: 32px;
}

.text__answer-top {
    font-size: 14px;
}

.text__answer-mid {
    font-size: 12px;
    color: var(--c-content-secondary);
    margin: 8px 0 12px 0;
}

.text__answer-bottom {
    font-size: 14px;
    color: var(--c-accent-primary);
}
