<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <title>Энергия фаерболов и болидов</title>
</head>
<body>
    <main>
        <div class="container">
            <h1>Рассчёт энергии удара и полной излучаемой энергии болидов и фаерболов</h1>
            <form action='' method='post'>
                {% csrf_token %}
                <div class="form-block">
                    <div class="input-block">
                        <label for="altitude">
                            <p class="text__label--medium">Altitude, км</p>
                            <p class="text__label--small">Высота над уровнем неба при максимальной яркости</p>
                        </label>
                        <input id="altitude" name="altitude" />
                    </div>
                    <div class="input-block">
                        <label for="velocity">
                            <p class="text__label--medium">Velocity, км/с</p>
                            <p class="text__label--small">Скорость на пике яркости</p>
                        </label>
                        <input id="velocity" name="velocity" />
                    </div>
                </div>
                <div class="form-block">
                    <div class="input-block">
                        <label for="vx">
                            <p class="text__label--medium">vx, км/с</p>
                            <p class="text__label--small">X-компонента расчетной скорости перед входом в атмосферу</p>
                        </label>
                        <input id="vx" name="vx">
                    </div>
                    <div class="input-block">
                        <label for="vy">
                            <p class="text__label--medium">vx, км/с</p>
                            <p class="text__label--small">Y-компонента расчетной скорости перед входом в атмосферу</p>
                        </label>
                        <input id="vy" name="vy" />
                    </div>
                    <div class="input-block">
                        <label for="vz">
                            <p class="text__label--medium">vz, км/с</p>
                            <p class="text__label--small">Z-компонента расчетной скорости перед входом в атмосферу</p>
                        </label>
                        <input id="vz" name="vz" />
                    </div>
                </div>
                <button type="submit" class="button">
                    Рассчитать
                </button>
            </form>
            <div class="answers">
                <div class="answer">
                    <p class="text__answer-top">empact-e</p>
                    <p class="text__answer-mid">Приблизительная полная энерги удара</p>
                    <p class="text__answer-bottom">{{ data.impact_e }}*10^10 Дж</p>
                </div>
                <div class="answer">
                    <p class="text__answer-top">energy</p>
                    <p class="text__answer-mid">Приблизительная полная излучаемая энергия</p>
                    <p class="text__answer-bottom">{{ data.energy }}*10^10 Дж</p>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
